body{
	background: #212121;
}
/*cuerpo de todas las paginas*/
.container{
	margin: 2em  auto !important;
}
div.container  div.texto{
	color:white;
}

/*nav*/
.nav-wrapper{
	padding: 0 1em ;
}
.logo{
	height: 2em ;
	
}
/*formulario de login (xa k no aplaste al parallax)*/
.intro{
	position: absolute !important;
}
/*ocultamos el menu desplegable xa moviles*/
#nav_movil{
    	display:none !important;	
    }
/*media xa moviles 5" xa abajo */
@media only screen and (max-width: 780px) {
    #nav_movil{
    	display: inline-block !important;
    	color:#ffab00 !important;
    }
}
/*tarjetas del index (tarjetas con actvidades)

	/*boton de las tarjetas*/
.card-title>a {
	width:11em;
}

/*formulario login */
.formulario_login{
	background-color: #424242;
	padding: 15px;
	margin: 20px;
}
/*estilo xa panel usuario fondo */
.cuerpo_pag{
	background-color: #424242;
	padding: 15px;
	margin: 20px;
	width: 98%;
	margin: 1em  auto !important;
	color: white;
}
/*xa poner el texto negro*/
.texto_negro{
	color:black !important;
}
.texto_blanco{
	color:white !important;
}
/*estilo a los botones (menu) de cada categoria (socio, entrenadores y actv)*/
#menu_socios a,#menu_entrenadores a,#menu_Actividades a{
	margin-right: 5px;
	width: 24% !important;
}
/*botón de nuevo usuario, cliente o actividad, xa darle posicionamiento*/
.more{
margin-top: 10px !important;
}
/*margen xa video en el panel de usuario*/
.margen{

	margin:15px !important;
}




